/* Reset some default browser styles */
body, h1, h2, p, pre, code {
  margin: 0;
  padding: 0;
}

/* Apply a basic style to the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #484848;
  color: #f0f0f0;
  padding: 20px;
}

/* Style for main title */
h1 {
  color: #0073e6;
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Style for sub-headings */
h2, h3 {
  color: #005bb5;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Style for paragraphs */
p {
  margin-bottom: 15px;
}

/* Style for links */
a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Style for the top section */
.top-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Style for asides */
aside {
  background: #333;
  color: #f0f0f0;
  padding: 15px;
  border-left: 5px solid #0073e6;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 48%;
}

/* Style for code blocks */
pre {
  background-color: #111;
  color: #f0f0f0;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  margin-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
}

/* Style for the code within paragraphs */
code {
  padding: 2px 5px;
  font-size: 0.9em;
  color: green;
}

/* Adding some padding and margin to the body */
body {
  max-width: 800px;
  margin: 0 auto;
  background: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

/* Style for checkbox labels */
label {
  display: block;
  margin-bottom: 10px;
  cursor: crosshair;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Style for completion banner */
#completion-banner {
  display: none;
  background: #0073e6;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  margin-bottom: 20px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

#completion-banner.hidden {
  display: none;
}

#completion-banner.visible {
  display: block;
}

/* Style for jump to top button */
#jump-to-top {
  margin-top: 10px;
  background: #0073e6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

#jump-to-top:hover {
  background: #005bb5;
}

/* Style for the Air Force logo */
.logo-container {
  text-align: center;
  margin: 20px 0;
}

.airforce-logo {
  width: 200px;
  height: auto;
}
